@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shadow-square {
  box-shadow: 0 0 0px 2px #222, 0 2px 0 2px #222;
}

.shadow-right {
  box-shadow: 3px 0px 4px 0 rgba(0, 0, 0, 0.281);
}
